::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Concert One', cursive;
    font-family: 'Hanken Grotesk', sans-serif;
    list-style: none;
}

body{
    background-color: rgb(248, 248, 248);
    overflow-x: hidden;
}

.frame{
    width: 100%;
   
}

nav{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 1px 0px 50px black; */
}

.nav-btn{
    width: 40%;
}

.btns{
    display: flex;
    justify-content: space-around;
}

.btns li{
    display: flex;
    align-items: center;
    flex-direction: column;   
    justify-content: space-between; 
    list-style: none;
    height: 70px;
    /* border: 2px solid green; */
}

li div{
    width: 100%;
    height: 3px;
}
li span{
    width: 100%;
    height: 3px;
    background: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    opacity: 0;
}

.btns a{
    text-decoration: none;
    color: hsl(233, 8%, 62%);
}

.request-invite{
    width: 130px;
    height: 40px;
    border-radius: 2em;
    border: 0;
    background: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    color: white;
    font-weight: 700;
}

.request-invite:hover{
    background: linear-gradient(to right,hsl(136, 65%, 51%,0.7),hsl(192, 70%, 51%,0.7));
    
}

.toggle{
    position: absolute;
    top: 20px;
    right: 30px;
    display: none;

}

#close{
    position: absolute;
    top: 20px;
    right: 30px;
    display: none;
}



.interface{
    width: 100%;
    display: flex;
    justify-content: space-between;    
}

.left{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    margin-left: 5%;
    width: 40%;
}

.left h1{
    width: 80%;
    font-size: 40px;
    font-weight: 400;
}
.left p{
    width: 80%;
    font-size: 15px;
    color: hsl(233, 8%, 62%);
    
}

.right{
    width: 50%;
}

.right svg{
    position: absolute;
    z-index: -1;
    top: -25%;
    left: 40%;
    height: 900px;
}




.why{
    width: 100%;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    margin-left: 5%;
    
}

.why h2{
    width: 80%;
    font-size: 32px;
    font-weight: 400;
}
.why p{
    width: 40%;
    font-size: 15px;
    color: hsl(233, 8%, 62%);
    
}

.services{
    display: flex;
    width: 90%;
    margin: auto;
}

.services h2{
    width: 70%;
    font-size: 25px;
    font-weight: 500;
}
.services h2{
    width: 70%;
    font-size: 25px;
    font-weight: 500;
}

.services p{
    width: 60%;
    font-size: 15px;
    color: hsl(233, 8%, 62%);
    
}

.article{
    width: 100%;
}

.latest-article h2{
    width: 70%;
    margin-left: 70px;
    font-size: 25px;
    font-weight: 500;
}


.article-pic{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align:start;
    
}

.article-pic div{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 251, 246);
    border-radius: 1em;
}

.article-pic img{
    width: 100%;
    height: 200px;
}

.article-pic h2{
    width: 90%;
    font-size: 25px;
    font-weight: 400;
    &:hover{
        color: hsl(136, 52%, 47%);
        cursor: pointer;
    }
}

.article-pic p{
    width: 90%;
    font-size: 15px;
    color: hsl(233, 8%, 62%);
    
}

footer{
    width: 100%;
    background-color: hsl(233, 26%, 24%);
}

.footer-menu{
    padding-top: 50px;
    /* height: 200px; */
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    width: 25%;
    display: flex;
    height: 100px;
    justify-content: space-between;
}

.links div ul{
    width: 100px;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;


}

.links a{
    color: hsl(233, 8%, 62%);
    text-decoration: none;
}

.links a:hover{
    color: hsl(136, 65%, 51%);

}



.social{
    width: 200px;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
}

.social-media{
    width: 200px;
    display: flex;
    justify-content: space-between;

}
.social-media div{
    width: 10px;
}

.social-media svg{
    fill: white;
}

.btn{
    width: 170px;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
}

.btn p{
    font-size: 15px;
    color: hsl(233, 8%, 62%);
    
}

.logo-footer{
    fill: white;
}







    @media screen and (max-width: 700px) {
        .toggle{
            display: block;
        }
        
        .nav-btn{
            display: none;
        }
        .navBt{
            display: none;
        }
    
        .logo{
            position: absolute;
            top: 20px;
            left: 30px;
        }
        
        .active{
            display: block;
            
        }
        
    
        .activeInterface{
            box-shadow: inset 0px 500px 50px rgba(0, 0, 0, 0.5);
        
        }

        
        .btns{
            position: absolute;
            display: block;
            width: 80%;
            left: 10%;
            top: -350px;
            z-index: 999;
            background-color: rgb(255, 255, 255);
            border-radius: 0.5em;
            /* box-shadow: 0px 0px  1000px black; */
            animation: Drop 0.1s linear ;
            animation-iteration-count: 1;
            top: 90px;
        }
        
        @keyframes Drop {
            0%   {top:-200px;}
            10%   {top:-170px;}
            20%   {top:-140px;}
            30%   {top:-110px;}
            40%   {top:-80px;}
            50%   {top:-50px;}
            60%   {top:-20px;}
            70%   {top:10px;}
            80%   {top:30px;}
            90%   {top:60px;}
            100%  {top:90px;}
        }
        .btns a{
            color: black;
        }
        
        .interface{
            flex-direction: column-reverse; 
        }
    
        .right{
            background-image: url(images/bg-intro-mobile.svg);
            width: 100%;
            background-size: cover;
            z-index: -1;
        }
        
        .right svg{
            display: none;
        }
    
        .right img{
            position:static;
            width: 100%;
            
            
        }
        
        .left{
            margin-left: 0;
            width: 100%;
            align-items: center;
            text-align: center;
        }
    
        .left h1{
            width: 90%;
        }
        
        .left p{
            width: 90%;
        }
    
        .why{
            margin-left: 0;
            margin-top: 100px;
            align-items: center;
            text-align: center;
        }
        .why h2{
            width: 90%;
        }
        .why p{
            width: 90%;
    
        }

        .services{

            width: 100%;
            flex-direction: column;
            align-items: center;
            text-align: center;
            /* justify-content: center; */
            /* align-items: center; */
        }

        .services h2{
            width: 90%;
            margin: auto;
        }

        .services p{
            width: 90%;
            margin: auto;
        }

        .latest-article{
            width: 90%;
            margin: auto;
            text-align: center;
        }

        .latest-article h2{
            margin-left: 0;
            width: 100%;
        }

        .article-pic{
            flex-direction: column;
        }
        .article-pic div{
            width: 100%;
        }

        .footer-menu{
            flex-direction: column;
            height: 600px;
            justify-content: space-between;
            align-items: center;
        }

        .social{
            align-items: center;
        }

        .links{
            width: 90%;
            height: 270px;
            flex-direction: column;
        }

        .links div{
            align-items: center;
            text-align: center;
            width: 100%;
            font-size: 20px;
        }

        .links div ul{
            height: 120px;
            width: 100%;
            margin: auto;
        }

        .btn{
            align-items: center;
        }
          
    }